<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Search Contact</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Search Contacts</h1>
        {% if match %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                </tr>
                <tr>
                    <td>{{ match.name }}</td>
                    <td>{{ match.email }}</td>
                    <td>{{ match.contact_no }}</td>
                </tr>
            </table>
        {% else %}
            <h3>No results Found</h3>
        {% endif %}
        <a href='/'>Back to Home</a>
    </body>
</html>